*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Helvetica Neue,Arial;
    font-size: 18px;
}

h1,h2{
    color: #21ba27;
}

h1{
    font-size: 40px;
    margin-bottom: 20px;
}

h2{
    font-size: 25px;
    margin-bottom: 10px;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 800px;/* En el curso indica 1140 de tamaño pero mi monitor es viejo */
    margin: 20px auto 0 auto; 
}

.main-text{
    text-align: justify;
    margin-bottom: 10px;
}

.author-text{
    font-size:22px;
    float: left;
    margin-top: 30px;
    margin-left:15px;
}

.blog-post {
    width: 75%;
    float: left;
    padding-right: 30px;
}

.blog-post img{
    height: 150px;
    width: auto;
}

.other-posts {
    width: 25%;
    float: left;
}

.other {
    margin-bottom: 40px;
}

.author-box {
    border-top: 1px solid #6a6a6a;
    padding-top: 20px;
}

.author-box img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
}